html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul,p,h1,h2,h3,h4,h5 {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: #FFF4CE;
}

::-webkit-scrollbar-thumb {
  background-color: #FFAE34;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */

.scrollTop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 50px;
  right: 50px;
  z-index: 200;
  transition: opacity 0.3s ease-in;
  background: linear-gradient(111.31deg, #FEDF72 34.46%, #FFF4CE 114.1%);
  padding: 20px;
  border: 3px solid #FEDF72;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 3px 3px 10px #FEEBA9;
}

.scrollArr {
  width: 20px;
  height: 20px;
}

.btn {
  width: 281px;
  height: 76px;
  display: block;
  text-align: center;
  background: linear-gradient(111.31deg, #FEDF72 34.46%, #FFF4CE 114.1%);
  box-shadow: 0px 4px 10px rgba(254, 223, 114, 0.89);
  border-radius: 35px;
  border: 2px solid transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  font-variant: small-caps;
  color: #000000;
  border: none;
  padding: 0 23px;
}
.btn:hover {
  -webkit-filter: brightness(.95);
          filter: brightness(.95);
}
.btn:active {
  -webkit-filter: brightness(.9);
          filter: brightness(.9);
}

._container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 20px;
}

.num_buble_active {
  width: 17px;
  height: 17px;
  background: #FFAE34;
}

.block_title {
  position: absolute;
  top: -13px;
  left: 0;
  font-weight: 700;
  font-size: 80px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 174, 52, 0.15);
}

.title_repeat {
  display: block;
  font-weight: 700;
  font-size: 40px;
  line-height: 25px;
  text-align: left;
  margin-bottom: 90px;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

/* ==================================================================== */
/* ==================================================================== */

/* HEADER */

.header {
  position: relative;
  background-image: url(../img/modern-luxury-bedroom-suite-and-bathroom-with-working-table.png);
  background-size:  cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  z-index: 1;
}
.header_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  padding: 22px 0;
  z-index: 100;
}

.header_container_info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.header_logo {
  display: flex;
  align-items: center;
}
.logo_img {
  width: 75px;
  height: 63px;
}
.logo_title {
  display: block;
  text-align: left;
  width: 93px;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFAE34;
  margin-left: 15px;
}
.header_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info_time-work {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
  margin-right: 53px;
}
.info_phone {
  display: flex;
  align-items: center;
}
.phone a{
  margin-left: 19px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #000000;
}

.header_menu {
  width: 100%;
  align-items: center;
  padding-top: 140px;
}
.header_menu_items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.menu_item {
  margin-right: 30px;
}
.menu_item a{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  border-bottom: 3px solid transparent;
  transition: 0.2s ease-in-out;
}
.menu_item a:hover {
  border-bottom: 3px solid #FFAE34;
  color: #FFAE34;

}

.header_main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 145px 0 300px 0;
}

.main_description {
  display: flex;
  flex-direction: column;
  max-width: 756px;
  padding: 0 20px;
  z-index: 1;
}
.header_main_title {
  display: block;
  text-align: left;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 50px;
}
.header_main_subtitle {
  display: flex;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  line-height: 60px;
  color: rgba(0, 0, 0, 0.6);
  margin: 24px 0;
}

.main_social {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 35%;
  right: 6%;
  width: 30px;
  z-index: 10;
}
.social_items {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  z-index: 100;
}
.social_items li {
  margin-bottom: 18px;
}
.social_item li a{
  cursor: pointer;
}
.main_social::before {
  content: "";
  position: absolute;
  top: -52%;
  right: 47%;
  width: 1px;
  height: 82px;
  background: #FFAE34;
  margin-bottom: 15px;
}
.main_social::after {
  content: "";
  position: absolute;
  top: 97%;
  right: 47%;
  width: 1px;
  height: 82px;
  background: #FFAE34;
  margin-bottom: 15px;
}

.woman_block {
  position: absolute;
  bottom: 0;
  right: 5%;
  display: block;
  width: 662px;
  height: 700px;
}
.woman_block img {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.woman_block::after {
  content: "";
  display: block;
  position: absolute;
  top: 22%;
  left: 2%;
  width: 600px;
  height: 600px;
  border: 3px solid rgba(254, 223, 114, 0.12);
  border-radius: 50%;
  background: radial-gradient(46.89% 46.89% at 50.07% 46.13%, rgba(251, 229, 154, 0.79) 0%, rgba(251, 229, 154, 0) 100%);
  z-index: -1;
}

/* BURGER MENU=============================== */

.burger {
  position: absolute;
  top: 15px;
  right: 25px;
  cursor: pointer;
  z-index: 300;
  display: none;

}
.burger i:nth-of-type(1) {
  display: block;
}
.burger i:nth-of-type(2) {
  display: none;
}
.burger.burger-open {
  color: #2a3255;
}
.burger.burger-open i:nth-of-type(1) {
  display: none;
}
.burger.burger-open i:nth-of-type(2) {
  display: block;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(202, 160, 71, 0.9);
  -webkit-clip-path: circle(0px at 100% 0px);
          clip-path: circle(0px at 100% 0px);
  transition: 0.5s ease all;
}
.navbar .nav-links {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navbar .nav-links li {
  list-style-type: none;
  margin: 3rem 0;
}
.navbar .nav-links li:nth-of-type(1).nav-link-open {
  transition-delay: 0.25s;
}
.navbar .nav-links li:nth-of-type(2).nav-link-open {
  transition-delay: 0.35s;
}
.navbar .nav-links li:nth-of-type(3).nav-link-open {
  transition-delay: 0.45s;
}
.navbar .nav-links li:nth-of-type(4).nav-link-open {
  transition-delay: 0.55s;
}
.navbar .nav-links li:nth-of-type(5).nav-link-open {
  transition-delay: 0.65s;
}
.navbar .nav-links li a {
  text-decoration: none;
  color: #2a3255;
  font-size: 28px;
  font-weight: 600;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.navbar .nav-links li a::before {
  top: -2px;
}
.navbar .nav-links li a::after {
  bottom: -5px;
}
.navbar .nav-links li a:hover::before {
  width: 100%;
}
.navbar .nav-links li a:hover::after {
  width: 100%;
}
.navbar.nav-open {
  display: block;
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}

/* BENEFITS CONTENT==================================== */

.content_container {
  position: relative;
  margin-top: -45px;
  z-index: 1;
}

.benefits_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 160px;
}
.benefits_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  padding: 15px;
  width: 265px;
  height: 254px;
  margin: 0 20px 20px 0;
}
.benefits_img {
  width: 70px;
  height: 70px;
  margin-bottom: 13px;
}
.benefits_title {
  font-weight: 700;
  width: 114%;
  font-size: 22px;
  line-height: 25px;
  margin-bottom: 14px;
}
.benefits_subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

/* DESCRIPTION===================== */

.about_block {
  position: relative;
  margin-bottom: 70px;
}
.about_container {
  display: flex;
  justify-content: space-between;
}
.about_description_block {
  display: flex;
  flex-direction: column;
}
.about_description {
  display: block;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}
.about_description_img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.descr_img_one {
  position: relative;
  width: 454px;
  height: 454px;
  border-radius: 50%;
  box-shadow: 20px 10px 40px 0px #C4C4C4;
}
.descr_img_two {
  position: absolute;
  bottom: -20px;
  right: -60px;
  width: 218px;
  height: 218px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* SERVICES============================================== */

.services_block {
  position: relative;
}
.choice_menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.choice_menu_list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.choice_menu_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  border: 2px solid #000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  cursor: pointer;
  transition: .2s;
}
.choice_menu_item a {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  width: 95%;
  padding: 25px 27px;
}
.choice_menu_item:not(:last-child) {
  margin-right: 30px;
}
.choice_menu_item:hover {
  border-color: #FEDF72;
  color: #FEDF72;
}
.choice_menu_item a:hover {
  color: #FEDF72;
}
.choice_menu_item:active {
  border-color: #FEDF72;
  color: #FEDF72;
}

.services_examples {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 50px;
}
.services_examples_container {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 70px;
  margin-left: 100px;
  padding-bottom: 50px;
  background: #FFFFFF;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.18);
}

.examples_slider_block {
  position: relative;
  width: 76%;
  display: flex;
  margin: 50px 0 0 -175px;
}

.img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img_carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  overflow: hidden;
}
.img_container {
  width: 100%;
  height: 100%;
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}
.buttons_container {
display: flex;
justify-content: space-between;
background: #000;
z-index: 2;
}
.slider_btn_right {
  position: absolute;
  background: transparent;
  border: none;
  top: 45%;
  right: -40px;
  outline: none;
}
.slider_btn_left {
  position: absolute;
  background: transparent;
  border: none;
  top: 45%;
  left: -40px;
  outline: none;
}

.examples_choice_block {
  width: 40%;
}
.example_choice_title {
  font-weight: 700;
  font-size: 24px;
  margin: 40px 0 58px 0;
}
.example_choice_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.example_choice_list li {
  display: flex;
  width: 284px;
  height: 66px;
  border: 2px solid #000000;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
}

.example_choice_list li:hover {
  background: linear-gradient(111.31deg, #FEDF72 34.46%, #FFF4CE 114.1%);
  box-shadow: 0px 4px 10px rgba(254, 223, 114, 0.89);
  border: none;
}

.skrebok {
  position: absolute;
  right: -270px;
  bottom: 80px;
  z-index: -1;
}

.submit_btn {
  display: flex;
  align-items: center;
  padding: 18px 80px;
}

/* TYPES=========================================== */

.types_block {
  position: relative;
}
.types_descr_block {
  width: 100%;
  display: flex;
}
.types_img {
  position: relative;
  width: 100%;
  z-index: -10px;
  margin-bottom: 30px;
}
.types_img img{
  width: 770px;
  height: 564px;
  border-radius: 3px;
}
.bestseller {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15px;
  left: 15px;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  z-index: 10;
  border: 4px solid #FEDF72;
  border-radius: 50%;
  padding: 23px 10px;
  -webkit-filter: drop-shadow(0px 4px 10px #FFAE34);
          filter: drop-shadow(0px 4px 10px #FFAE34);
}
.dot_one {
  display: block;
  position: absolute;
  top: 97px;
  left: 250px;
  width: 17px;
  height: 17px;
  border: 4px solid #FEDF72;
  border-radius: 50px;
  -webkit-filter: drop-shadow(0px 4px 10px #FFAE34);
          filter: drop-shadow(0px 4px 10px #FFAE34);
  z-index: 10;
  cursor: pointer;
}
.dot_one:hover:after {
  content: attr(data-title);
  position: absolute;
  top: 10px;
  left: -290px;
  display: flex;
  align-items: center;
  padding: 20px;
  width: 247px;
  border-radius: 10px;
  z-index: 100;
  background: #fff;
  transition: all 0.3s ease;
}
.dot_two {
  display: block;
  position: absolute;
  top: 30px;
  left: 420px;
  width: 17px;
  height: 17px;
  border: 4px solid #FEDF72;
  border-radius: 50px;
  -webkit-filter: drop-shadow(0px 4px 10px #FFAE34);
          filter: drop-shadow(0px 4px 10px #FFAE34);
  z-index: 10;
  cursor: pointer;
}
.dot_two:hover:after {
  content: attr(data-title);
  position: absolute;
  top: 10px;
  left: 12px;
  display: flex;
  align-items: center;
  padding: 20px;
  width: 247px;
  border-radius: 10px;
  z-index: 100;
  background: #fff;
  transition: all 0.3s ease;
}
.dot_three {
  display: block;
  position: absolute;
  top: 62px;
  left: 662px;
  width: 17px;
  height: 17px;
  border: 4px solid #FEDF72;
  border-radius: 50px;
  -webkit-filter: drop-shadow(0px 4px 10px #FFAE34);
          filter: drop-shadow(0px 4px 10px #FFAE34);
  z-index: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}
.dot_three:hover::after {
  content: attr(data-title);
  position: absolute;
  top: 15px;
  left: -290px;
  display: flex;
  align-items: center;
  padding: 20px;
  width: 247px;
  border-radius: 10px;
  z-index: 100;
  background: #fff;
  transition: all 0.3s ease;
}
.alert {
  position: absolute;
  top: 82px;
  left: 662px;
  background: #fff;
}

.types_descr {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
}
.types_descr h4 {
  display: block;
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 35px;
}
.types_descr p {
  display: block;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}

.types_cost {
  display: flex;
  text-align: left;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 60px;
  margin-bottom: 60px;
}

.types_cost span {
  font-size: 34px;
  font-weight: 700;
  margin: 0 5px;
}

.button_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 115px;
}

.loader {
  position: absolute;
  width: 100%;
  height: 300px;
  display: none;
  top: 2%;
  left: 0;
  z-index: 1;
}
.loader2 {
  position: absolute;
  width: 100%;
  height: 300px;
  display: none;
  top: 2%;
  left: 0;
  z-index: 1;
}

/* PROCESS================================================= */

.process {
  position: relative;
  margin-bottom: 120px;
}
.process_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.process_item {
  position: relative;
  width: 370px;
  height: 254px;
  border-radius: 35px;
  margin: 20px 0 10px 10px;
  padding: 44px 39px;
}
.process_item span {
  position: absolute;
  left: 15px;
  bottom: 0;
  font-weight: 600;
  font-size: 64px;
  line-height: 22px;
  color: rgba(255, 174, 52, 0.8);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.process_item h5 {
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  margin-bottom: 25px;
} 
.process_item p {
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.8);
} 

/* ORDER========================================================= */

.order {
  position: relative;
  width: 100%;
  background-image: url(../img/order_block/luxury-bedroom.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 58px 0;
  margin-bottom: 120px;
  -webkit-filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
}
.order_container {
  width: 913px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10%;
}
.order_title {
  font-weight: 700;
  font-size: 32px;
  line-height: 45px;
  margin-bottom: 25px;
}
.order_sibtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 45px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 25px;
}
.order_inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input_order {
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.6);
  width: 383px;
  height: 65px;
  background: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 35px;
  margin-bottom: 12px;
  padding: 25px 38px;
}
.input_order:focus {
  font-weight: 700;
  font-size: 18px;
}
.input_agree {
  margin: 6px 0 38px 0;
  display: flex;
  align-items: center;
}
.input_agree input[type='checkbox'] {
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  margin-right: 7px;
}
.input_agree label {
  display: block;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
}
.order_women {
  position: absolute;
  width: 550px;
  height: 519px;
  bottom: 0;
  left: 0;
}
.lamp {
  position: absolute;
  background-image: url(../img/order_block/lamp.png);
  background-size: cover;
  top: 0;
  right: 45px;
  width: 243px;
  height: 231px;
  z-index: -1;
}
.lamp::after {
  content: "";
  width: 85px;
  height: 57px;
  position: absolute;
  top: 200px;
  right: 87px;
  background: rgba(255, 237, 176, 0.45);
  -webkit-filter: blur(30px);
          filter: blur(30px);
}
.lamp::before {
  content: "";
  width: 85px;
  height: 57px;
  position: absolute;
  top: 200px;
  right: 87px;
  background: rgba(255, 214, 73, 0.29);
  -webkit-filter: blur(100px);
          filter: blur(100px);
}

.lamp1 {
  position: absolute;
  background-image: url(../img/order_block/lamp.png);
  background-size: cover;
  top: 0;
  right: -100px;
  width: 360px;
  height: 330px;
  z-index: -1;
}
.lamp1::after {
  content: "";
  width: 85px;
  height: 57px;
  position: absolute;
  top: 300px;
  right: 150px;
  background: rgba(255, 237, 176, 0.45);
  -webkit-filter: blur(30px);
          filter: blur(30px);
}
.lamp1::before {
  content: "";
  width: 113px;
  height: 75px;
  position: absolute;
  top: 300px;
  right: 140px;
  background: rgba(255, 214, 73, 0.29);
  -webkit-filter: blur(100px);
          filter: blur(100px);
}

.lamp2 {
  position: absolute;
  background-image: url(../img/order_block/lamp.png);
  background-size: cover;
  top: 0;
  right: 67%;
  width: 160px;
  height: 180px;
  z-index: -1;
}
.lamp2::after {
  content: "";
  width: 85px;
  height: 57px;
  position: absolute;
  top: 160px;
  right: 31px;
  background: rgba(255, 237, 176, 0.45);
  -webkit-filter: blur(30px);
          filter: blur(30px);
}
.lamp2::before {
  content: "";
  width: 85px;
  height: 57px;
  position: absolute;
  top: 160px;
  right: 31px;
  background: rgba(255, 214, 73, 0.29);
  -webkit-filter: blur(100px);
          filter: blur(100px);
}

/* GALLERY======================================== */

.gallery {
  position: relative;
}

/* SALES========================================== */

.sales {
  position: relative;
  margin: 190px 0 120px 0;
}
.sales_blocks {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sales_low-text {
  font-weight: 600;
  font-size: 18px;
  text-align: left;
  margin-bottom: 45px;
}

.sale_block_item {
  position: relative;
  display: flex;
  margin-bottom: 55px;
  align-items: center;
}
.sales_img {
  display: block;
  width: 100%;
  height: 363px;
  background-size: cover;
  background-position: center;
  z-index: 0;
  box-shadow: 16px 20px 0px #FEDF72;
}
.sales_info {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  padding: 43px 76px;
  margin-left: -58px;
  z-index: 1;
  background: #fff;
}
.sales_info h5 {
  width: 455px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 25px;
}
.sales_info p {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.label_sale {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 11%;
  left: -4.5%;
  width: 105px;
  height: 36px;
  background: #C10000;
  padding: 5px 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(188, 2, 2, 0.25);
}

.more {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.rule_img {
  width: 385.17px;
  height: 371.94px;
  position: absolute;
  top: -340px;
  right: 0;
}
.pen_img {
  position: absolute;
  top: -375px;
  right: 0px;
}

/* REWIEWS========================================================= */

.reviews {
  position: relative;
}
.reviews_container {
  margin-bottom: 100px;
}

.reviews_block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviews_block::before {
  content: "";
  background-image: url(../img/влево.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 43%;
  left: -70px;
  width: 30px;
  height: 50px;
  cursor: pointer;
}
.reviews_block::after {
  content: "";
  background-image: url(../img/вправо.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 43%;
  right: -70px;
  width: 30px;
  height: 50px;
  cursor: pointer;
}
.reviews_item {
  width: 570px;
  height: 364px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  padding: 0 50px 38px 50px;
}
.reviews_item:not(:last-child) {
  margin-right: 28px;
}
.reviews_img {
  margin-top: -10%;
}
.reviews_img img {
  margin-bottom: 12px;
  width: 110px;
  height: 110px;
}
.reviews_img p {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  margin-bottom: 22px;
}
.reviews_stars {
  margin-bottom: 24px;
}
.rewiews_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}

/* FOOTER======================================== */

.footer {
  background-image: url(../img/modern-luxury-bedroom-suite-and-bathroom-with-working-table.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer_container {
  display: flex;
  justify-content: space-between;
  padding: 53px;
}
.footer_contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 100px;
}
.footer_time-work {
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  margin-top: 45px;
}
.footer_contact {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  margin-top: 30px;
}
.f_phone::before {
  content: "";
  background-image: url(../img/Group.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  width: 30px;
  height: 25px;
  margin-right: 15px;
}
.f_mail::before {
  content: "";
  background-image: url(../img/mail.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  width: 30px;
  height: 25px;
  margin-right: 15px;
}
.f_adress::before {
  content: "";
  background-image: url(../img/adress.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  width: 30px;
  height: 25px;
  margin-right: 15px;
}

.footer_order {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 80px;
  width: 615px;
  height: 537px;
  left: 842px;
  top: 8710px;
  background: #FFFFFF;
  border: 5px solid #FEDF72;
}
.order_title {
  font-weight: 700;
  font-size: 32px;
  line-height: 45px;
}
.order_sibtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 45px;
  color: rgba(0, 0, 0, 0.7);
}

.footer_socnet {
  margin-left: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer_socnet img {
  width: 40px;
  height: 40px;
}
.footer_socnet a:not(:last-child) {
  display: block;
  margin-bottom: 23px;
}

/* ORDER WINDOW=========================== */

.main_order {
  position: fixed;
  display: block;
  width: 50%;
  top: 6%;
  left: 24%;
  z-index: -10;
  padding: 60px 45px;
  background: #fff;
  border: 5px solid #FEDF72;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  opacity: 0;
  transform: translateY(-100%);
  transition: all .3s linear;
}
.main_order_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.close_order {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -7%;
  right: -4%;
  font-weight: 900;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
.close_order img {
  width: 100%;
}

/* ADAPTIV=============================== */

@media(max-width: 1340px) {
  .block_title {
    position: absolute;
    top: -13px;
    left: 0;
    font-weight: 700;
    font-size: 60px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 174, 52, 0.15);
  }
  .title_repeat {
    display: block;
    font-weight: 700;
    font-size: 30px;
    line-height: 25px;
    text-align: left;
    margin-bottom: 90px;
  }
  .rule_img {
    display: none;
  }
  .pen_img {
    display: none;
  }
}

@media(max-width: 1250px) {
  .header_container {
    height: 80px;
    display: flex;
  }
  .header_main {
    padding-bottom: 200px;
  }
  .woman_block {
    width: 562px;
    height: 600px;
    bottom: -6px;
  }
  .woman_block::after {
    content: "";
    display: block;
    position: absolute;
    top: 22%;
    left: 2%;
    width: 500px;
    height: 500px;
    border: 3px solid rgba(254, 223, 114, 0.12);
    border-radius: 50%;
    background: radial-gradient(46.89% 46.89% at 50.07% 46.13%, rgba(251, 229, 154, 0.79) 0%, rgba(251, 229, 154, 0) 100%);
    z-index: -1;
  }
  .services_examples_container {
    margin-left: 150px;
  }
  .order_women {
    z-index: -1;
  }
}

@media(max-width: 1100px) {
  .woman_block {
    width: 395px;
    height: 424px;
    right: -3%;
  }
  .woman_block::after {
    left: -17%;
  }
  .main_order {
    padding: 20px 10px;
  }
  .main_order_container {
    padding-top: 15px;
  }
  .main_order_container .order_title {
    font-size: 23px;
    line-height: 25px;
  }

  .process_list {
    align-items: center;
    justify-content: center;
  }
  .process_item {
    margin: 20px 20px 10px 10px;
  }
  .label_sale {
    left: -0.5%;
  }
  .close_order {
    top: -2%;
    right: 1%;
  }

  .types_descr_block {
    flex-direction: column;
  }
  .bestseller {
    display: none;

  }
}

@media(max-width: 1023px) {
  .block_title {
    position: absolute;
    top: -13px;
    left: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 174, 52, 0.15);
  }
  .title_repeat {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    margin-bottom: 90px;
  }
  .services_examples_container {
    margin-left: 150px;
  }
}

@media(max-width: 800px) {
  .main_order_container .order_title {
    font-size: 23px;
    line-height: 25px;
  }
  .order_inputs {
    width: 100%;
  }
  .main_order_container .order_inputs .input_order {
    width: 330px;
    padding: 20px 30px;
  }
}

@media(max-width: 768px) {
  .block_title {
    position: absolute;
    top: -13px;
    left: 0;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 174, 52, 0.15);
  }
  .title_repeat {
    display: block;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: left;
    margin-bottom: 22px;
  }

  .main_order {
    width: 60%;
    left: 20%;
  }
  .main_order_container .order_title {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .main_order_container .order_sibtitle {
    margin-bottom: 10px;
  }
  .main_order_container .order_inputs .input_order {
    width: 270px;
    height: 45px;
    font-size: 14px;
    line-height: 10px;
    padding: 0 15px;
  }
  .main_order_container .order_inputs .input_agree {
    width: 75%;
    font-size: 12px;
  }
  .main_order_container .order_inputs .input_agree label {
    font-size: 10px;
    line-height: 10px;
  }
  .main_order_container .btn {
    font-size: 16px;
    width: 200px;
    height: 56px;
  }

  .scrollTop {
    padding: 10px;
    bottom: 30px;
    right: 30px;
  }
  .close_order {
    width: 15px;
    height: 15px;
  }
  .button_container {
    margin-bottom: 40px;
  }

/* ================================ */

  /* HEADER */

.header_info {
  display: none;
}
.header_menu {
  padding-top: 0px;
}
.logo_img {
  width: 65px;
  height: 53px;
}
.logo_title {
  font-size: 18px;
  line-height: 20px;
}

.header_main {
  padding: 105px 0 55px 0;
}
.header_main_title {
  display: block;
  text-align: left;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
}
.header_main_subtitle {
  display: flex;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  margin: 20px 0 300px 0;
}

.main_social {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 37%;
  right: 87%;
  width: 30px;
  z-index: 10;
}
.social_items {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}
.social_items li {
  margin-bottom: 15px;
}
.main_social::before {
  content: "";
  display: none;
}
.main_social::after {
  content: "";
  display: none;
}

.woman_block {
  position: absolute;
  bottom: 0;
  right: -26%;
  display: block;
  width: 387px;
  height: 409px;
}
.woman_block::after {
  content: "";
  display: none;
}

.burger {
  display: flex;
}

/* BENEFITS CONTENT==================================== */

.content_container {
  margin-top: 45px;
  z-index: 1;
}
.benefits_block {
  margin-bottom: 50px;
}
.benefits_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  padding: 10px;
  width: 157px;
  height: 155px;
  margin: 10px;
}
.benefits_img {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}
.benefits_title {
  font-weight: 700;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  margin-bottom: 14px;
}
.benefits_subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  color: rgba(0, 0, 0, 0.8);
}

/* DESCRIPTION===================== */

.about_block {
  margin-bottom: 25px;
}

.about_description_img {
  position: absolute;
  top: 33%;
  right: -12%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  z-index: -1;
  opacity: 0.5;
}

.descr_img_one {
  width: 354px;
  height: 354px;
  border-radius: 50%;
}
.descr_img_two {
  display: none;
}

/* SERVICES============================================== */

.choice_menu {
  margin-bottom: 25px;
}
.choice_menu_list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.choice_menu_item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.choice_menu_item a {
  padding: 0;
}
.choice_menu_item:not(:last-child) {
  margin-right: 0px;
}

.services_examples {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}
.services_examples_container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  box-shadow: none;
  margin: 0;
  padding-bottom: 10px;
}

.examples_slider_block {
  width: 100%;
  display: flex;
  margin: 0 0 20px 0;
}
.carousel {
  display: flex;
  max-width: 464px;
  height: 246px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}
.slider-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}
.example_pagination_block {
  display: none;
}

.examples_choice_block {
  display: none;
}
.skrebok {
  display: none;
}

.submit_btn {
  display: flex;
  align-items: center;
  padding: 18px 80px;
}

/* TYPES=========================================== */

.types_descr_block {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.choice_menu_item a {
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  height: 50px;
}

.types_img img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.bestseller {
  display: none;
}
.dot_one {
  display: none;
}
.dot_one:hover:after {
  display: none;
}
.dot_two {
  display: none;
}
.dot_two:hover:after {
  display: none;
}
.dot_three {
  display: none;
}
.dot_three:hover::after {
  display: none;
}

.types_descr {
  padding-left: 0;
  width: 100%;
}
.types_descr h4 {
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 19px
}
.types_descr p {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}

.types_cost {
  font-size: 20px;
  line-height: 19px;
  margin: 20px 0 25px 0 ;
}

/* PROCESS================================================= */

.process {
  margin-bottom: 60px;
}
.progress_list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.process_item {
  position: relative;
  width: 180px;
  height: 164px;
  border-radius: 35px;
  margin-bottom: 60px;
  padding: 14px 19px;
}
.process_item span {
  font-size: 48px;
  line-height: 22px;
  bottom: -15px;
}
.process_item h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
} 
.process_item p {
  font-weight: 600;
  font-size: 14px;
  line-height: 13px;
} 

/* ORDER========================================================= */

.order {
  position: relative;
  width: 100%;
  background-image: url(../img/order_block/luxury-bedroom.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 58px 0;
  margin-bottom: 50px;
  -webkit-filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
}
.order_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0;
}
.order_title {
  font-weight: 700;
  font-size: 25px;
  line-height: 20px;
  padding: 0 20px;
}
.order_sibtitle {
  font-weight: 700;
  font-size: 12px;
  line-height: 45px;
}
.input_order {
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.6);
  width: 383px;
  height: 65px;
  background: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 35px;
  margin-bottom: 12px;
  padding: 25px 38px;
}
.input_agree {
  margin: 6px 0 38px 0;
  display: flex;
  align-items: center;
}
.input_agree input[type='checkbox'] {
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  margin-right: 7px;
}
.input_agree label {
  display: block;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
}
.order_women {
  display: none;
}
.lamp {
  display: none;
}
.lamp::after {
  display: none;
}
.lamp::before {
  display: none;
}

.lamp1 {
  display: none;
}
.lamp1::after {
  display: none;
}
.lamp1::before {
  display: none;
}

.lamp2 {
  display: none;
}
.lamp2::after {
  display: none;
}
.lamp2::before {
  display: none;
}

/* GALLERY======================================== */

.gallery {
  position: relative;
}

/* SALES========================================== */

.sales {
  position: relative;
  margin: 50px 0 60px 0;
}
.sales_blocks {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sales_low-text {
  font-weight: 600;
  font-size: 18px;
  text-align: left;
  margin-bottom: 45px;
}

.sale_block_item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
  align-items: center;
  justify-content: center;
}
.sales_img {
  display: block;
  width: 170px;
  height: 120px;
  position: absolute;
  left: -10px;
  top: -10px;
  background-size: cover;
  background-position: center;
  z-index: 2;
  box-shadow: none;
}
.sales_info {
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  padding: 15px;
  margin-left: 0;
  z-index: 1;
  background: linear-gradient(111.31deg, #FEDF72 34.46%, #FFF4CE 114.1%);
}
.sales_info h5 {
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding: 0 0 0 150px;
  margin-bottom: 10px;
}
.sales_info p {
  padding-top: 70px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}
.label_sale {
  display: none;
}

.more {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.rule_img {
  width: 385.17px;
  height: 371.94px;
  position: absolute;
  top: -230px;
  right: 0;
}
.pen_img {
  position: absolute;
  top: -240px;
  right: 0px;
}

/* REWIEWS========================================================= */

.reviews {
  display: none;
}

/* FOOTER======================================== */

.footer {
  background-image: url(../img/modern-luxury-bedroom-suite-and-bathroom-with-working-table.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer_container {
  padding: 20px;
}
.footer_contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 100px;
}
.footer_time-work {
  font-weight: 700;
  font-size: 12px;
  line-height: 25px;
}
.footer_contact {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 10px;
  line-height: 25px;
  margin-top: 10px;
}
.f_phone::before {
  content: "";
  background-image: url(../img/Group.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  width: 30px;
  height: 25px;
  margin-right: 15px;
}
.f_mail::before {
  content: "";
  background-image: url(../img/mail.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  width: 30px;
  height: 25px;
  margin-right: 15px;
}
.f_adress::before {
  content: "";
  background-image: url(../img/adress.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  width: 30px;
  height: 25px;
  margin-right: 15px;
}

.footer_order {
  display: none;
  }
}

@media(max-width: 513px) {
  .main_order_container .order_title {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;
  }
  .main_order_container .order_sibtitle {
    line-height: 15px;
    font-size: 11px;
  }
  .main_order_container .order_inputs .input_order {
    width: 230px;
    height: 40px;
    font-size: 12px;
  }
  .main_order_container .order_inputs .input_agree {
    width: 85%;
    margin-bottom: 15px;
  }
  .main_order_container .order_inputs .input_agree input[type='checkbox'] {
    width: 75%;
    font-size: 12px;
    width: 20px;
    height: 20px;
  }
  .main_order_container .order_inputs .input_agree label {
    font-size: 8px;
  }
  .gallery-container {
    height: 250px;
  }
  .process_item {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media(max-width: 415px) {
  .main_order {
    width: 75%;
    left: 12%;
  }
  .main_order_container .order_title {
    padding: 0;
  }
  .main_order_container .order_sibtitle {
    line-height: 15px;
    font-size: 11px;
  }
  .main_order_container .order_inputs .input_order {
    width: 230px;
    height: 40px;
    font-size: 12px;
  }
  .main_order_container .order_inputs .input_agree {
    width: 85%;
    margin-bottom: 15px;
  }
  .main_order_container .order_inputs .input_agree input[type='checkbox'] {
    width: 75%;
    font-size: 12px;
    width: 20px;
    height: 20px;
  }
  .main_order_container .order_inputs .input_agree label {
    font-size: 8px;
  }

  .benefits_block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .choice_menu_item a {
    width: 100%;
    font-size: 13px;
  }

  .slider-btn {
    display: none;
  }

  .block_title {
    font-size: 18px;
  }
  .choice_menu_list {
    width: 100%;
    padding: 0;
  }
  .types_img img {
    width: 100%;
    height: 210px;
  }

  .process_list {
    justify-content: center;
  }
  .process_item {
    width: 100%;
    margin-bottom: 20px;
  }
  .input_order {
    width: 90%;
  }
  .input_agree {
    width: 90%;
  }
  .gallery-container {
    height: 210px;
  }
  .footer_contacts {
    margin-right: 0;
  }
  .close_order {
    width: 15px;
    height: 15px;
  }
  .about_description_img {
    display: none;
  }
}

@media(max-width: 345px) {
  .main_order {
    width: 85%;
    top: 15%;
    left: 7%;
  }
  .benefits_container {
    width: 100%;
  }
  .close_order {
    width: 15px;
    height: 15px;
    top: -4%;
    right: 1%;
  }

  .sales_info p {
    padding-top: 15px;
  }
}

@media(max-width: 758px) {
  .header_menu_items {
    display: none;
  }
}

